.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    padding: 20px;
    background-color: #1e1e1e;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.tab {
    padding: 15px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
    transition: color 0.3s, background 0.3s;
    text-align: left;
    border-radius: 4px;
}

.tab:hover {
    background-color: #333;
}

.tab.active {
    color: #add8e6;
    background-color: #333;
}

.create-note-button {
    padding: 12px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: auto;
    width: 100%;
    margin-bottom: 20px;
}

.create-note-button:hover {
    background-color: #0056b3;
}
  